<div class="mt-4 container">
    <h2>My Courses</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name Course</th>
                <th scope="col">Video ID</th>
                <th scope="col">Time created</th>
            </tr>
        </thead>
        <tbody>
            {{#each course}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this._doc.name}}</td>
                <td>{{this._doc.videoId}}</td>
                <td>{{this._doc.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-primary btn-lg">Edit</a>
                    <a href="/courses/{{this._id}}" class="btn btn-danger btn-lg">Delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
</table>
</div>