<div class="mt-4">
    <h3 class="text-center">Update the Course</h3>
    <form method="post" action="/course/{{course._id}}" class="container">
    <input type="hidden" name="_method" value="put">
        <div class="form-group">
            <label for="name" class="form-label">name</label>
            <input id="name" type="text" class="form-control" value="{{course.name}}" name="name" >
        </div>
         <div class="form-group">
            <label for="description" class="form-label">description sources</label>
            <textarea id="description"  class="form-control" name="description" >{{course.description}}</textarea>
        </div>
         <div class="form-group">
            <label for="image" class="form-label">image</label>
            <input id="image" type="text" class="form-control" value="{{course.image}}" name="image" >
        </div>
         <div class="form-group">
            <label for="videoId" class="form-label">videoId</label>
            <input id="videoId" type="text" class="form-control" value="{{course.videoId}}" name="videoId" >
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form> 
</div>